name: Build and deploy ASP.Net Core app to Azure Web App - app-mesa-failtrack-api-prod

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Build with dotnet
        run: dotnet build --configuration Release

      - name: dotnet publish
        run: dotnet publish -c Release -o ./publish-dir

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: net-app-package
          path: ./publish-dir

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: net-app-package
          path: ./deploy-ready

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'app-mesa-failtrack-api-prod'
          slot-name: 'Production'
          
          package: ./deploy-ready
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_E5D7188B381B43D888DC984B38963016 }}
